.topnav {

list-style-type: none;

margin: 0;
padding: 0;

overşow: hidden;

background-image: url(6.jpg);

}

.logo{
	height: 100px;
	cursor :pointer;
}

.navbar{
	text-align: center;
	flex: 1;
}


.btn{
	background: transparent;
	border:2px solid #650087;
}
.btn:hover
{
	background-color:#650087;
}
.navbar a{
	padding:6px 20px;

	text-decoration: none;

	color: white;

	margin-left: 20px;

	font-size: 20px;

	font-weight: bold;

}


h1{font-style:italic; font-family:Georgia, Times, serif; color:#00008B;}

h2{font-style:italic; font-family:Georgia, Times, serif; color:#00008B;}

h3{font-style:italic; font-family:Georgia, Times, serif; color:#00008B;}

#mylist { width:320px; }

#mylist ul { font-style:italic; font-family:Georgia, Times, serif; font-size:20px; color:#346b37 ; }

#mylist ul li { }

table, td, th {

border: 1px solid #ddd;

text-align: left;

}

table {

border-collapse: collapse;

width: 100%;

}

th, td {

padding: 15px;

}

td{font-style:italic; font-family:Georgia, Times, serif; color:#ff0040;}

blockquote{font-style:bold; font-family: Times, serif; color: #640166;}